In [1]:
#len(0)
word = 'Python'
len(word)

6

In [2]:
len('Python is fun!')

14

In [4]:
#count()
s = 'Python is fun!'
s.count('n')

2

In [5]:
#index()

s.index('n')

5

In [7]:
#join()
a = ','
word = '1234'
a.join(word)

'1,2,3,4'

In [10]:
#word[-1]
word[len(word)-1]

'4'

In [17]:
s1 = 'python is fun'
s1.split()

s2 = 'one:two:three'
s2.split(':')

['one', 'two', 'three']

In [19]:
s1 = 'python\tis\nfun !!'
#split default = white space
s1.split()

['python', 'is', 'fun', '!!']

## 리스트

In [20]:
fruit = ['banana' ,'apple', 'cherry']
score = [70,99,25,100]
empty_list = []

In [23]:
fruit[0]
score[1]

99

In [26]:
fruit[::-1]

['cherry', 'apple', 'banana']

In [31]:
a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
print('apple' in fruit)
print('orange' not in fruit)

True
True

In [45]:
a = [1,2,3,4,5]
del a[:3]
print(a)

[4, 5]

In [48]:
#unpacking
t = [1,2,3]
a,b,c = t
print(a,b,c)

x,y = t

1 2 3

ValueError: too many values to unpack (expected 2)

In [58]:
date = input('날짜(연/월/일) 입력 : ')
year, month, day = list(map(int, date.split('/')))

print('입력한 날짜의 10년 후는 %s년 %s월 %s일' %(year+10, month, day))

날짜(연/월/일) 입력 :

ValueError: invalid literal for int() with base 10: ''

## 조건문

In [76]:
a = 20

if a<100:
    print('참')
    print('100보다 작다')
else:
    print('거짓')
    print('100보다 크거나 같다')

print('프로그램 끝')

참
100보다 작다
프로그램 끝

In [77]:
num = -15

if num > 0:
    print('양수입니다.')
elif num==0:
    print('0입니다.')
else:
    print('음수입니다.')

음수입니다.

In [87]:
eng = int(input('영어 점수 입력 : '))
math = int(input('수학 점수 입력 : '))
total = eng + math

if total>=110:
    if math<40:
        print('불합격: 수학 점수 부족')
    elif eng<40:
        print('불합격: 영어 점수 부족')
    else:
        print('합격')
else:
    print('불합격: 총합 점수 부족')

영어 점수 입력 : 35
수학 점수 입력 : 95
불합격: 영어 점수 부족

In [108]:
x1, x2, x3 = map(int, input('세 개의 수를 입력하시오 : ').split())

# max_value = 0
# if x1>x2:
#     if x1>x3:
#         max_value=x1
#     else:
#         max_value=x3
# else:
#     if x2>x3:
#         max_value = x2
#     else:
#         max_value = x3

max_value = x1
if max_value<x2:
    max_value=x2
elif max_value<x3:
    max_value=x3
    

print('가장 큰 수는 %d입니다.' %max_value)

세 개의 수를 입력하시오 : 40 30 50
가장 큰 수는 50입니다.

# 반복문

In [110]:
count = 1
while count <=5 :
    print('hello', count, sep='*', end=', ')
    count += 1

hello*1, hello*2, hello*3, hello*4, hello*5,

In [112]:
number = 1
total = 0

while number<=10:
    total += number
    number += 1
    
print(total, number)

55 11

In [114]:
count = 1
prod = 1

while count<=10:
    prod *= count
    count += 1
    
print(prod, count)

3628800 11

In [117]:
#for

for x in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [118]:

for x in range(5):
    print(x, end=' ')

0 1 2 3 4

In [119]:

for x in 'python':
    print(x, end=' ')

p y t h o n

In [123]:
x = int(input('출력하고 싶은 단을 입력하세요 : '))

for i in range(1,10):
    print('%d * %d = %d' %(x,i,x*i))

출력하고 싶은 단을 입력하세요 : 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [126]:
value = input('Input an integer : ')

for i in value:
    for x in range(int(i)):
        print('*', end='')
    print()

Input an integer : 53535353
*****
***
*****
***
*****
***
*****
***

In [128]:
for i in range(1,11):
    if i>5:
        break;
    print(i)

1
2
3
4
5

In [129]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9