In [1]:
number = input('Input an Integer : ')

for i in number:
    print('★'*int(i))

Input an Integer : 15613
★
★★★★★
★★★★★★
★
★★★

In [2]:
number = input('Input an Integer : ')

for i in number:
    for x in range(int(i)):
        print('★',end='')
    print()

Input an Integer : 156123
★
★★★★★
★★★★★★
★
★★
★★★

In [3]:
a = [1,7,9,2,5]
print(a)
a.sort()
print(a)

a.sort(reverse=True)
print(a)

[1, 7, 9, 2, 5]
[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [4]:
f = ['banana', 'apple', 'orange']
print(f)
f.sort()
print(f)

['banana', 'apple', 'orange']
['apple', 'banana', 'orange']

In [5]:
#a = [x for x in range(1,11)]
a = list(range(1,11))
print(a)
print('max : ', max(a))
print('min : ', min(a))
print('sum : ', sum(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max :  10
min :  1
sum :  55

### 문제12)
“done“을 입력할 때까지 사용자로부터 숫자를 입력 받아  
리스트에 저장하고, “done“을 입력하면, 리스트의 평균,  
최대값과 최소값을 출력하는 프로그램을 작성하시오.  
(힌트) sum(), max(), min() 함수를 사용  
Enter a number: 7  
Enter a number: 2  
Enter a number: 9  
Enter a number: 3  
Enter a number: 5  
Enter a number: done  
[7.0, 2.0, 9.0, 3.0, 5.0]  
Average: 5.2  
Maximum: 9.0  
Minimum: 2.0

In [6]:
result = []
while True:
    number = input('Enter a number : ')
    
    if number == 'done':
        break;
    else:
        result.append(float(number))
        
print(result)
print('Average :', (sum(result)/len(result)))
print('Maximum :', max(result))
print('Minimum :', min(result))

Enter a number : 1
Enter a number : 2
Enter a number : 3
Enter a number : 4
Enter a number : 5
Enter a number : 6
Enter a number : 7
Enter a number : 8
Enter a number : 9
Enter a number : done
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]
Average : 5.0
Maximum : 9.0
Minimum : 1.0

In [7]:
try:
    a = [1,2]
    print(a[3])
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

list index out of range

In [8]:
t1 = (1,)
print(t1)
type(t1)

(1,)

tuple

In [9]:
t = (1,2,3,4,5,6,)
t[1]
t2 = t + t1
t2

(1, 2, 3, 4, 5, 6, 1)

In [10]:
s1 = set([1,2,1,2,3,4,3])
s2 = {3,4,5}
s1

{1, 2, 3, 4}

In [11]:
word = 'Hello'*2
word
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [12]:
s3 = set(word_list)
s3

{'H', 'e', 'l', 'o'}

In [15]:
s4 = set("hellohello")
s4

{'e', 'h', 'l', 'o'}

In [19]:
s={1,2,3,4,5,3,4}
s

{1, 2, 3, 4, 5}

In [22]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [23]:
s.remove(2)
s

{1, 3, 4, 5, 10}

In [25]:
s.update([1,3,4,5,6])
s

{1, 3, 4, 5, 6, 10}

In [27]:
s.discard(7)
s

{1, 3, 4, 5, 6, 10}

In [28]:
s.clear()
s

set()

In [29]:
s.add(10)

In [30]:
s

{10}

In [44]:
d = {}
d['kim'] = 1
d['park']=2
d

{'kim': 1, 'park': 2}

In [45]:
d['kim']=3
d['youn']=1
d

{'kim': 3, 'park': 2, 'youn': 1}

In [46]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [47]:
d.values()

dict_values([3, 2, 1])

In [48]:
d.items()

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [49]:
list(d)

['kim', 'park', 'youn']

In [54]:
sd = list(d)
sd.sort()
sd

['kim', 'park', 'youn']

# HW3
## 1.dict
### 실습1)
for 문을 사용하여 딕셔너리 타입의 d의 모든  
value를 출력해 보시오.

In [56]:
d = {'youn': 1, 'park': 2, 'kim': 10}

for item in d:
    print(d[item], end=' ')

1 2 10

In [59]:
for x in d.values():
    print(x, end=' ')

1 2 10

In [61]:
for k,v in d.items():
    print(v, end=' ')

1 2 10

### 실습3)
어떤 문장을 입력 받으면 해당 문장에서 각 알파벳이  
몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 아래와  
같이 출력하시오  

Enter a sentence: Python is fun!  
{'!': 1, ' ': 2, 'f': 1, 'i': 1, 'h': 1, 'o': 1, 'n': 2,  
'P': 1, 's': 1, 'u': 1, 't': 1, 'y': 1}

In [63]:
sentence = input('Enter a sentence : ')

dictionary = {}

for char in sentence:
    if char in dictionary:
        dictionary[char] += 1
    else:
        dictionary[char] = 1
print(dictionary)

Enter a sentence : Python is fun!
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [67]:
sentence = input('Enter a sentence : ')

dictionary = {}

s = set(sentence)

for c in s:
    dictionary[c] = sentence.count(c)
print(dictionary)

Enter a sentence : bananananananan
{'n': 7, 'b': 1, 'a': 7}

### 실습2)
아래와 같은 딕셔너리가 있다.  
{'one':1, 'two':2, 'three':3, 'four':4, 'five':5}  
key의 알파벳을 기준으로 순서대로 아래와 같이 (key,
value)로 출력하시오.
five 5  
four 4  
one 1  
three 3  
two 2

In [65]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}

key_list = list(d.keys())
key_list.sort()

for key in key_list:
    print(key, d[key])

five 5
four 4
one 1
three 3
two 2

In [74]:
#sen = input('Enter a sentence : ')
sen = 'python is fun!'

d = dict()

for ch in sen:
    d[ch] = sen.count(ch)
print(d)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

# 파일

In [80]:
fw = open('new.txt', 'w')

for i in range(1,6):
    data = '%d line\n' % i
    fw.write(data)

fw.close()

In [83]:
fr = open('new.txt', 'r')
line = fr.readline()
print(fr.tell())
print(line, end='')
line = fr.readline()
print(line, end='')
fr.close()

7
1 line
2 line

In [85]:
# 파일-실습1(PPT)
#split() white space 단위로 구분
#strip() 문자열 양 끝의 white space 제거
#replace('s','d') s문자를 d로 대체
fr = open('test.txt', 'r')
d = {}
for line in fr:
    words = line.split()
    for word in words:
        if word in d:
            d[word]+=1
        else:
            d[word]=1
fr.close()

for k,v in d.items():
    print(k,v)

first 1
line 3
hello 1
world 1
second 1
third 1